<html>
<head>
	<title>
		100 - Exact Online - Customer Trade - Main Administration
	</title>
</head>
<body>
	
	@RenderBody(){ 
	}
</body>
</html>
<script>
	(function () {
		var zari = function(){
			console.log('salam');
		}
		var x = window.setInterval(zari, 1000);
	})();
</script>